/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
  }
  
a {
  text-decoration: none;
  transition: 0.4s;
}
  
form {
  display: flex;
  flex-direction: column;
}

a:hover {
  color: rgb(43, 43, 43)
}
