/* AppComponent's private CSS styles */
a {
  color: whitesmoke;
  display: block;
}

.collapse li a {
  color: rgb(241, 125, 125);
}

a:hover {
  color: darkgray;
  
}

.collapse li a:hover {
  color: rgb(205, 3, 3);
}