/* DashboardComponent's private CSS styles */

.vers {
  background-color: rgb(115, 255, 115);
}

.novella {
  background-color: rgb(133, 133, 133);
}

.dalszöveg {
  background-color: rgb(202, 96, 96);
}

h2 {
    text-align: center;
  }
  
  .article-list {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  a {
    background-color: rgb(6, 6, 54);;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
form {
  display: flex;
  flex-direction: column;
}

  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: whitesmoke;
    color:rgb(6, 6, 54)
  }