<h2>Itt küld be a fordításaidat</h2>

<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <label for="title">
        Article Title:
        <input type="text" formControlName="title" id="title">
    </label>

    <label for="author">
        Author:
        <input type="text" formControlName="author" id="author">
    </label>

    <label for="originalTitle">
        Original Title:
        <input type="text" formControlName="originalTitle" id="originalTitle">
    </label>

    <label for="originalDate">
        Original Date:
        <input type="date" formControlName="originalDate" id="originalDate">
    </label>

    <label for="translator">
        Translator:
        <input type="text" formControlName="translator" id="translator">
    </label>

    <label for="translationDate">
        Translation Date:
        <input type="date" formControlName="translationDate" id="translationDate">
    </label>

    <label for="category" class="form-label">Kategória</label>
    <select class="form-select form-select-" name="category" id="category" formControlName="category"
        style="width: 300px;">
        <option value="vers">Vers</option>
        <option value="novella">Novella</option>
        <option value="dalszöveg">Dalszöveg</option>

    </select>

    <label for="translation" class="form-label">Fordítás</label>
    <textarea type="text" class="form-control form-control-sm" formControlName="translation" name="translation" id="translation" style="width: 600px;" placeholder=""
        rows="10" cols="50"></textarea>

    <br>
    <br>
    <label for="sender">
        Beküldő neve:
        <input type="text" formControlName="sender" id="sender">
    </label>

    <label for="emailAddress">
        Email címe:
        <input type="email" formControlName="emailAddress" id="emailAddress">
    </label>
   
    <button style="width: 100px;" [disabled]="!articleForm.valid" type="submit">Send</button>
</form>
