<div class="container">
    <div class="row mt-4">
        <h1>Új fordítások beküldése</h1>
        <div class="col col-12">
            <div class="instructions">
                <h2>A beküldés során a következőkre figyeljen:</h2>
                <ul>
                    <li>
                        Minden mező kitöltése közelező!
                    </li>
                    <li>
                        Amennyiben esetleg valamelyik mezőt mégis üresen szükséges hagyni
                        (pl. fordító gondolatai), kérjük, egy "-" jelet írjon abba a mezőbe.
                    </li>
                    <li>
                        Helyesen adja meg email címét, hogy kapcsolatba léphessünk Önnel!
                    </li>
                    <li>
                        Olyan letöltési linket adjon meg a
                        képhez és a fájlhoz is, amelyhez szabadon hozzá tudunk férni és
                        azt követően letölteni.
                    </li>
                    <li>
                        A fordított műhöz tartozó fájl formátuma mindenképpen pdf legyen.
                    </li>
                    <li>
                        Kérdések esetén kérjük, a <span>japanszemle@gmail.com</span>  email címre írjon!
                    </li>
                </ul>
                <h3>Köszönjük hozzájárulását!</h3>
            </div>
        </div>
    </div>
    <div class="row mt-4">

        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
            <div class="col-12 col-md-6">
                <label for="title">
                    Mű fordított címe:
                    <input type="text" formControlName="title" id="title">
                </label>

                <label for="author">
                    Eredeti szerző:
                    <input type="text" formControlName="author" id="author">
                </label>

                <label for="originalTitle">
                    Eredeti cím:
                    <input type="text" formControlName="originalTitle" id="originalTitle">
                </label>

                <label for="originalDate">
                    Eredeti dátum:
                    <input type="date" formControlName="originalDate" id="originalDate">
                </label>

                <label for="translator">
                    Fordító neve:
                    <input type="text" formControlName="translator" id="translator">
                </label>

                <label for="translationDate">
                    Fordítás dátuma:
                    <input type="date" formControlName="translationDate" id="translationDate">
                </label>
            </div>
            <div class="col-12 col-md-6">
                <label for="category" class="form-label">Kategória</label>
                <select class="form-select form-select-" name="category" id="category" formControlName="category">
                    <option value="vers">Vers</option>
                    <option value="próza">Próza</option>
                    <option value="dalszöveg">Dalszöveg</option>

                </select>

                <label for="translation" class="form-label">Fordító gondolatai a műről</label>
                <textarea type="text" class="form-control form-control-sm" formControlName="translation"
                    name="translation" id="translation" placeholder="" rows="10" cols="50"></textarea>

                <label for="imagePath">
                    Megjelenítendő kép letöltési linkje:
                    <input type="text" formControlName="imagePath" id="imagePath">
                </label>

                <label for="filePath">
                    Fordítást tartalmazó fájl letöltési linkje:
                    <input type="text" formControlName="filePath" id="filePath">
                </label>

                <br>
                <br>
                <label for="sender">
                    Beküldő neve:
                    <input type="text" formControlName="sender" id="sender">
                </label>

                <label for="emailAddress">
                    Email címe:
                    <input type="email" formControlName="emailAddress" id="emailAddress">
                </label>
                <br>
                <br>

                <label for="creative">
                    Fordításom beküldésével elfogadom a <a routerLink="/creative-commons" target="_blank">Creative
                        Commons</a> szabályát.
                </label>
                <select class="form-select form-select-" name="category" id="creative" formControlName="creative">
                    <option value="igen">Igen</option>
                </select>
                <br>
                <p *ngIf="!articleForm.valid" class="invalid">* Kérjük minden mezőt töltsön ki!</p>
                <p *ngIf="articleForm.valid" class="valid">* Megfelelő kitöltés!</p>

            </div>
            <button style="width: 100px;" [disabled]="!articleForm.valid" type="submit">Beküldés</button>
        </form>
    </div>


</div>