 
* {
    font-family: Arial, Helvetica, sans-serif;
  }
h1 {
    color: rgb(6, 6, 54);;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

h2, h3 {
    color: rgb(6, 6, 54);;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
 
body, input[type="text"], button {
    color: rgb(6, 6, 54);;
    font-family: Cambria, Georgia, serif;
  }

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #011a1b;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

button:hover {
    background-color: black;
    color: white;
  }

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
form {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
}

input[type=text],
input[type=tel],
input[type=email] {
    display: inline-block; 
    padding: 10px; 
    font-size: 18px; 
    border: solid 2px black;
    background-color: rgb(231, 231, 231) ;
    color:#011a1b; 
    font-weight: bold; 
    width: 100%; 
    margin-bottom: 2px;
}

textarea {
  border: solid 2px black;
  background-color: #e8e4e1; 
  resize: none; 
  width: 100%; 
  font-size: 18px; 
  color: #011a1b;
}

label, option {
  display: inline-block; 
  font-size: 22px; 
  color: #011a1b;
  font-weight: 550;
  padding-top: 10px;
  padding-bottom: 10px;
}