<div *ngIf="auth.loggedIn">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <h1 class="mt-4">Jóváhagyott fordítások listája</h1>
                <ul class="articles">
                    <li *ngFor="let article of articles">
                        <a routerLink="/detail/{{article.firebaseID}}" class="{{article.isPublished}}">
                            <span class="badge">{{article.firebaseID}}</span> 
                            <span class="title">{{article.title}}</span>
                            <br>
                            szerző: {{article.author}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>